*{
  margin: 0;
}

.app{
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  
}

.appHeader{
  position: sticky;
  top:0;
  z-index: 1;
  background: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
  display: flex;
  justify-content: space-between;
  width:100%

}

.appHeaderImg{
  object-fit: contain
}

.appPosts{
  padding: 20px
}

.appSignup{
  display: flex;
  flex-direction: column;
}


.loginContainer{
  margin-top: 14px
}


