*{
  margin: 0;
}

.app{
  background: #fafafa;
  
}

.appHeader{
  background: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  border-collapse: collapse
}

.appSignup{
  display: flex;
  flex-direction: column;
}